Adafruit-LED-Backpack==1.8.0
RPi.GPIO==0.5.11
Flask==0.11.1
Flask-Cors==3.0.0
requests==2.11.1
gunicorn==19.6.0
ChatterBot==0.4.10
Flask-SocketIO==2.7.2
peewee==2.8.5
pytest==3.0.5
Flask-RESTful==0.3.5
